body {
    background-color: #2a2a2a;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;

}

main {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.iframe-container {
    box-sizing: border-box; 
    width: calc(100% - 30px);
    background: url('assets/bars-fade.svg') center center no-repeat, white ;
    height: 100%;
    margin:15px;
    /* Radius */
    border-radius: 10px;
    border-color: #00cc3a;
    border-width: 3px;
    border-style:solid;
    /* Add green box shadow */
    box-shadow: 0 0 10px #00cc3a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 10vh;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    border-radius: 6px;
}
iframe p {
    /* Center text to parent div */
    text-align: center;
}
h1 {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin: 0;
    color:white;
    text-shadow: 1px 1px 20px #00cc3a;

}

p {
    font-size: 1.5rem;
    margin: 0;
}

.hidden {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }

/* HTML: <div class="loader"></div> */
.loader {
    color: black;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}